* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   
   /*
   .grid-container {
     resize: both;
     overflow: auto;
   
     background-color: skyblue;
     border: 1px solid grey;
     padding: 4px;
   
     display: grid;
     grid-template-rows: repeat(2, 1fr);
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     gap: 4px;
   }
   


   /*{
   display: grid;
     grid-template-rows: repeat(2, 1fr);
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     gap: 4px;
   .grid-item {
     background-color: #444;
     text-align: center;
     color: white;
     font-size: 18px;
     padding: 12px;*/
   
   /* img {
     height: 60px;
   } */

  
.project-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     grid-column-gap: 10px;
     grid-row-gap: 10px;
}
.project-container img{
     width: 100%;
}
